@font-face {
  font-family: "Barcelony";
  src: url(../font/Barcelony-Font/Barcelony.ttf);
}
@font-face {
  font-family: "Gotham-bold";
  src: url(../font/Gotham-Font/GothamBold.ttf);
}
@font-face {
  font-family: "Gotham-light";
  src: url(../font/Gotham-Font/Gotham-Light.otf);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Couleurs */
  --black: #222;
  --primary: #e9eaea;
  --secondary: #9f0311;
  --with: #fbfbfb;

  /* Font family */
  --Barcelony: "Barcelony";
  --Gotham-bold: "Gotham-bold";
  --Gotham-light: "Gotham-light";
}
html {
  scroll-behavior: smooth;
}
body {
  background: var(--primary);
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
#home,
#catalog,
#about-us,
#specials-offer,
#contact {
  padding-top: 150px;
}
.nav-right,
.nav-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-bar {
  height: 70px;
  background: var(--with);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}
.nav-bar::after {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.055);
}
.nav-bar.active {
  position: fixed;
  width: 100%;
  z-index: 9;
}
.logo-title {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--secondary);
  font-family: var(--Barcelony);
  font-size: clamp(26px, 3vw, 33px);
}
.nav-right {
  gap: 50px;
}
.navlinks-container ul {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}
.links-custum {
  text-decoration: none;
  color: var(--black);
  font-family: var(--Gotham-light);
  position: relative;
}

.links-custum::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: var(--secondary);
  top: 20px;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: 0.3s ease-in-out;
}
.links-custum:hover::after {
  transform: translateY(0);
  opacity: 1;
}

.links-custum.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: var(--secondary);
  top: 20px;
  left: 0;
  opacity: 1;
  transform: none;
}
.contact-phone a {
  text-decoration: none;
  color: var(--black);
  font-weight: 700;
  font-family: "Gotham-bold";
  transition: 0.2s ease-in-out;
}
.contact-phone a:hover {
  color: var(--secondary);
}
.contact-phone a i {
  margin-right: 10px;
}

/* === start icon hamburger === */
.burger-icons {
  width: 30px;
  height: 20px;
  cursor: pointer;
  position: relative;
  display: none;
}
.nav-right.active ~ .burger-icons span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
  transition: all 0.3s ease-in-out;
}
.nav-right.active ~ .burger-icons span:nth-child(2) {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.nav-right.active ~ .burger-icons span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
  transition: all 0.3s ease-in-out;
}
.burger-icons span {
  width: 100%;
  height: 2px;
  background: var(--secondary);
  display: block;
  position: absolute;
  border-radius: 7px;
  transition: all 0.3s ease-in-out;
}
.burger-icons span:nth-child(1) {
  top: 0;
}
.burger-icons span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
  transition-delay: 0.1s;
}
.burger-icons span:nth-child(3) {
  bottom: 0;
}
/* === end icon hamburger === */

/* === start banner === */
.banner {
  min-height: 560px;
  background-image: url(../images/bgbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.banner-contains {
  padding: 0 80px;
}
.banner-contains h1 {
  font-family: var(--Barcelony);
  color: var(--black);
  font-size: clamp(50px, 6vw, 70px);
}
.banner-contains button {
  color: var(--secondary);
  border: 2px solid var(--secondary);
  background: transparent;
  font-size: clamp(13px, 1.7vw, 17px);
  font-family: var(--Gotham-bold);
  padding: 10px 20px;
  border-radius: 2px;
  cursor: pointer;
}
.banner-contains button:hover {
  color: var(--with);
  border: 2px solid var(--secondary);
  background: var(--secondary);
}
/* === end banner === */

/* === start section catalog === */
section {
  padding: 60px 40px;
}
.title {
  font-family: var(--Barcelony);
  text-align: center;
  font-size: 30px;
  color: var(--black);
}
.catalog-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.catalog-inner ul.onglets {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin-top: 20px;
}
.catalog-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  width: 100%;
}
.catalog-box-left,
.offer-box-left,
.contact-us-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 30%;
  background: var(--secondary);
  color: var(--with);
  font-family: var(--Gotham-light);
  padding: 15px 30px;
}
.offer-box-left h3,
.catalog-box-left h3 {
  font-family: var(--Barcelony);
  font-size: clamp(19px, 2vw, 24px);
  text-transform: capitalize;
}
.catalog-box-left p,
.offer-box-left p {
  text-align: center;
  font-size: clamp(14px, 1.5vw, 16px);
  line-height: 22px;
}
.catalog-box-left ul {
  list-style: none;
  text-align: center;
}
.catalog-box-left ul li {
  margin: 20px 0;
}
.offer-box-left button,
.catalog-box-left button {
  background: transparent;
  color: var(--with);
  border: 2px solid var(--with);
  padding: 10px 20px;
  font-family: var(--Gotham-bold);
  font-size: clamp(13px, 1.7vw, 17px);
  cursor: pointer;
}
.offer-box-left button:hover,
.catalog-box-left button:hover {
  background: var(--with);
  color: var(--black);
}
.catalog-box-right {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  width: 70%;
}

.catalog-box-right .box {
  height: 250px;
  width: 100%;
  overflow: hidden;
}
.catalog-box-right .box img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}
.catalog-box-right .box img:hover {
  transform: scale(1.03);
}
/* === end section catalog === */

/* === start section about-us === */
.about-us-inner {
  margin: 0 auto;
  width: 70%;
  margin-top: 20px;
  text-align: center;
}
.about-us-inner p {
  font-family: var(--Gotham-light);
  line-height: 28px;
  font-size: clamp(13px, 1.6vw, 17px);
}
.about-us-inner a {
  margin-top: 60px;
  display: inline-block;
  position: relative;
}
.about-us-inner a::after {
  position: absolute;
  content: "";
  width: 100%;
  background: var(--secondary);
  height: 2px;
  left: 0;
  top: -30px;
}
/* === end section about-us === */

/* ===start section offer=== */

.offer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.offer-box-right img {
  width: 100%;
}

/* === start section offer === */
/* === start section testimonials === */

.contains-swiper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.swiper {
  width: calc(100% - 20%);
  position: initial !important;
}
.swiper-inner {
  width: calc(100% - 20%);
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  text-align: center;
}
.swiper-inner p {
  font-size: clamp(14px, 1.5vw, 16px);
  line-height: 22px;
  font-family: var(--Gotham-light);
}
.swiper-inner h4 {
  font-family: var(--Barcelony);
  color: var(--secondary);
  font-size: clamp(17px, 2.2vw, 24px);
  margin-top: 50px;
}
.pagination div[class^="swiper-button"]::after {
  display: none;
}
.pagination div[class^="swiper-button"] i {
  color: var(--secondary);
  font-size: clamp(14px, 2vw, 22px);
}

/* === end section testimonials === */

/* === start section contacts-us === */
.contact-us {
  background-image: url(../images/patissier-en-cuisine.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: -30px;
  min-height: 500px;
  position: relative;
}
.contact-us-box {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  width: initial;
}
.contact-us h3 {
  font-family: var(--Barcelony);
  font-size: clamp(19px, 2.3vw, 27px);
  text-transform: capitalize;
}
.location-info {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  padding: 20px 5px;
  margin-bottom: 20px;
}

.info-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 7px;
}
.info-box span {
  font-weight: bold;
}
.info-box a {
  color: var(--with);
  text-underline-offset: 4px;
}
.formulaire {
  margin-top: 50px;
  text-align: center;
}
.formulaire h3 {
  text-align: center;
  font-family: var(--Barcelony);
  letter-spacing: 1px;
  font-size: clamp(22px, 3vw, 30px);
  margin-bottom: 20px;
}
form .inputs {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  margin: auto;
}
form .inputs-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
form .inputs-box input,
form .inputs textarea {
  background: transparent;
  padding: 13px 20px 6px 2px;
  border: none;
  outline: none;
  font-size: 17px;
  font-family: var(--Gotham-light);
  border-bottom: 2px solid var(--secondary);
}
form .inputs-box input {
  width: 45%;
}
form .inputs textarea {
  resize: none;
  height: 41px !important;
}
.formulaire button[type="submit"] {
  background: var(--secondary);
  border: 2px solid transparent;
  outline: none;
  color: var(--with);
  font-family: var(--Gotham-bold);
  font-size: 19px;
  padding: 8px 38px;
  margin-top: 20px;
  cursor: pointer;
  transition: .2s ease-in;
}
.formulaire button[type="submit"]:hover {
  color: var(--secondary);
  border-color: var(--secondary);
  background: transparent;
}
/* === end section contacts-us === */

/* === start section footer === */
.footer-contains {
  background: var(--secondary);
}
.footer-one {
  padding: 3% 4%;
}
.logo-footer .logo-title.blanc {
  color: var(--with);
}
.footer-one {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}
.navigation ul.nav {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  list-style: none;
}
.links-custum {
  text-decoration: none;
  color: var(--black);
  font-family: var(--Gotham-light);
  position: relative;
  font-size: clamp(12px, 1.6vw, 16px);
}
.links-custum.blanc {
  color: var(--with);
}
.links-custum.blanc::after {
  background: var(--with);
}
.socials-links a {
  text-decoration: none;
  color: var(--with);
  margin: 0 5px;
}
.socials-links a i {
  font-size: clamp(12px, 1.8vw, 18px);
}
.copyright {
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid var(--with);
}
.copyright p {
  font-size: clamp(12px, 1.6vw, 16px);
  color: var(--with);
  font-family: var(--Gotham-light);
}
.copyright span a {
  text-decoration: none;
  font-weight: bold;
  color: var(--with);
}
/* === end section footer === */

/* === Responsive === */
@media (max-width: 900px) {
  section {
    padding: 60px 20px;
  }
  .banner {
    position: relative;
    min-height: 100vh;
  }
  .banner::before {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    right: 0;
    background: rgba(255, 255, 255, 0.103);
    backdrop-filter: blur(4px);
  }
  .banner-contains {
    z-index: 2;
    padding: 0 35px;
  }
  .nav-bar {
    justify-content: space-between;
    padding: 0 5%;
  }
  .nav-right {
    position: absolute;
    background: var(--with);
    width: 100%;
    min-height: 100vh;
    top: 0;
    right: 0;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s linear;
    transform: translateY(-100%);
    z-index: 99;
  }
  .nav-right.active {
    transform: translateY(0);
  }
  .navlinks-container ul {
    flex-direction: column;
    gap: 40px;
  }
  .burger-icons {
    z-index: 99;
    display: block;
  }
  .catalog-box-left,
  .catalog-box-right,
  .offer-box-left,
  .offer-box-right {
    width: 100%;
  }
  form .inputs-box {
    flex-direction: column;
    gap: 10px;
  }
  form .inputs-box input {
    width: 100%;
  }
}
